


<style>

/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 70%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field select {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

option {
    width: 100%;
    border: 1px solid;
    border-radius: 2px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
</style>

<form class="grid" action="/result" method="POST">
<div class="wrapper">
        <div class="logo">
            <img src="https://image.artistshot.com/pd.18046708.158.369440.s3.1-front-customized-111111-none-x104y58-180-800x800.jpg" alt="">
        </div>
        <br/>

        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="number" id="name" name="name" min="5000"  placeholder="Investment" required>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <select type="text" id="strategy" name="strategy" required>
      <option name='Ethical Investing' value='Ethical Investing'>Ethical Investing </option>
      <option name='Value Investing' value='Value Investing'>Value Investing </option>
      <option name='Growth Investing' value='Growth Investing'>Growth Investing </option>
      <option name='Index Investing' value='Index Investing'>Index Investing </option>
      <option name='Quality Investing' value='Quality Investing'>Quality Investing </option>
      <option name='Ethical and Value Investing' value='Ethical Investing and Value Investing'>Ethical Investing and Value Investing </option>
      <option name='Ethical and Growth Investing' value='Ethical Investing and Growth Investing'>Ethical Investing and Growth Investing </option>
      <option name='Ethical and Index Investing' value='Ethical Investing and Index Investing'>Ethical Investing and Index Investing </option>
      <option name='Ethical and Quality Investing' value='Ethical Investing and Quality Investing'>Ethical Investing and Quality Investing </option>
      <option name='Value and Growth Investing' value='Value Investing and Growth Investing'>Value Investing and Growth Investing </option>
      <option name='Value and Index Investing' value='Value Investing and Index Investing'>Value Investing and Index Investing </option>
      <option name='Value and Quality Investing' value='Value Investing and Quality Investing'>Value Investing and Quality Investing </option>
      <option name='Growth and Quality Investing' value='Growth Investing and Quality Investing'>Growth Investing and Quality Investing </option>
      <option name='Growth and Index Investing' value='Growth Investing and Index Investing'>Growth Investing and Index Investing </option>
      <option name='Quality and Index Investing' value='Quality Investing and Index Investing'>Quality Investing and Index Investing </option>

    </select>
            </div>
            <button class="btn mt-3" type="Submit">Submit</button>
        </form>

    </div>

    </form>